html,body{
    height: 100%;
    margin: 0;
}
.main{
    height: 100%;
}

.title{
    padding: 10px;
    background: #4dabf7;
    color: white;
}

.title h1{
    font-size: 70px;
}

.title h2{
    font-size: 50px;
}

.content{
    padding: 10px;
}

.content div{
    font-size: 35px;
}

.content h2{
    font-size: 40px;
    color: #4dabf7;
}
