html,body{
    height: 100%;

}
.main{
    text-align: center;
    height: 100%;
}

.content{
    height: 70%;
    width: 80%;
    margin: 150px auto;
}

#title{
    font-size: 70px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #2BC0E4, #EAECC6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
